body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.hello {
  padding: 10px;
  color: white;
  background: blue;
}

.UserDetail {
	color: white;
	background: blue;
}
.OtherInfo {
	color: white;
	background: green;
}

.ToggleButton {
	margin: 10px;
}

.red {
	background: red;
	color: white;
}

.blue {
	background: blue;
	color: white;
}

img {
	width: 200px;
	height: 200px;
}